{{page-title "Add"}}
<div id="form"></div>
<div class="field">
  <div class="ui input">
    <Input @value={{@model.section.name}} placeholder="Entrez le nom"/>
  </div>
</div>
<div class="field">
  <div class="ui input">
    <Input @value={{@model.section.description}} placeholder="Entrez la description"/>
  </div>
</div>
<div class="field">
  <button class="ui positive button" {{ action "save" @model }}>Ajouter la section</button>
</div>

{{outlet}}
