{{page-title "Board"}}

<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" {{action "logout"}}>
    Déconnexion
  </button>
  <LinkTo class="ui positive button" @route="sections"> Gérer le store </LinkTo>
</div>
<h2>Commandes</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}
