{{page-title "Index"}}

<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Connectez vous
      </div>
    </h2>
    <form class="ui large form" {{action "login" @model on="submit"}}>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <Input type="email" @value={{@model.email}} name="email" placeholder="Adresse email"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <Input type="password" @value={{@model.password}} name="password" placeholder="Mot de passe"/>
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">Se connecter</button>
      </div>
    </form>
  </div>
</div>
</body>

{{outlet}}
